/* .btn {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgb(192, 125, 192);
    color: blue;
    outline: solid 2px black;
    cursor: pointer;
    /* box-shadow: 3px 4px 1px 2px black; */
/* }

.btn:hover {
    background-color: rgb(153, 93, 153);
    /* box-shadow: 2px 3px 1px 2px black; */
/* } */ 

/* .lists {
    list-style: none;
    padding-left: 0;
    background-color: rgb(85, 172, 28);
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 5px; */
    /* flex-direction: ; */
/* } */

/* .lists li {
    background-color: rgba(42, 157, 165, 0.89);
    padding: 5px 10px;
    border-radius: 5px;
    outline: solid 1px black;
    color: white;
    letter-spacing: 2px;
} */ 

/* .txt {
    margin: 0 auto;
    font-size: 20px;
} */

.img  {
    /* src: url(image_netbook.png); */
}